<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsLetter</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
   <h1>Cadastre-se</h1> 
   <form action="/newuser" method="post">
        <div class="input-container">
            <label for="fullname">Nome Completo: </label>
            <input type="text" name="fullname" id="fullname">
        </div>
        <div class="input-container">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email">
        </div>
        <button type="submit">Enviar</button>
   </form>
</body>
</html>