<header class="navbar w-100 bg-body-tertiary">
    <div class="container-fluid d-flex align-center">
        <a class="navbar-brand" href="/">Lista de Tarefas</a>
        <ul class="navbar-nav flex-row gap-3 me-auto">
            <li class="nav-item"><a href="/app/lists" class="nav-link">Todas as Listas</a></li>
            <li><a href="/app/create-form" class="nav-link">Nova Lista</a></li>
        </ul>
    </div>
</header>